*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}

li{
    margin: 20px 80px 20px;
    list-style: none;
    flex: 1;
    max-width:max-content;
    flex-shrink: 1;
}



.navigation-bar{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
   

    
}

.button-try{
    width: 170px;
    height: 50px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    font-size: 1rem;
    border-color: hsl(321, 100%, 78%);
    color: hsl(321, 100%, 78%);
    background-color: white;


}

.button-try:hover{
    background-color: rgb(255, 201, 210);
    cursor: pointer;
}
.btn-Get-Started:hover{
    cursor: pointer;
    background-color: rgb(248, 173, 186);
    color: rgb(102, 102, 102);
}
.container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.build-title{
    margin-top: 15%;
    font-size: 3rem;
    color: hsl(192, 100%, 9%);
    margin-bottom: 40px;
    

}
.generate-text{
    font-size: 1.5rem;
    line-height: 28px;
}

.paragraph-text{
    width: 700px;
    font-size: 1.4rem;
    margin: auto;
    color: hsl(192, 100%, 9%);
}
.btn-Get-Started{
    margin-top: 50px;
    width: 450px;
    height: 70px;
    background-color:hsl(322, 100%, 66%);
    font-size: 1.5rem;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    color: azure;
    border-style: none;
    font-weight: 400;
   margin-bottom: 150px; 

}


.communities-message{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;

}

.svg-left{
    margin-right: 150px;

}

.card{
    max-width: 800px;
    margin: auto;
}

.number-text{
    font-size: 5rem;
    color: hsl(192, 100%, 9%);
    font-weight: 700;
}
.communities-form{
    
    font-size: 1.1rem;

}
.body-picture{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-image: url(images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
}

.card-body{
   margin: 50px auto 50px;
   
 
}



.justify{
    text-align: left;
   width: 460px;
   margin: 30px;
}

.grow-text{
    font-size: 2.5rem;
    font-weight: bold;
}

.ready-text{
    font-size: 2.5rem;
    margin-bottom: 50px;
}
.footer-container{
    padding-top: 150px;
    display: flex;
    text-align: left;
    margin-left: 100px;

    

}
.footer-grid{
    flex: 1;
  

}

#foot{
    padding-top: 250px;
    background-image: url(images/bg-footer-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;

}

.lorem-text{
    color: white;
    width: 350px;
    line-height: 25px;
    margin-top: 30px;

}
.contact-info{
    margin-top: 20px;
    color: white;
}
.email{
    margin-bottom: 100px;
}



.newsletter{
    color: white;
    margin-bottom: 20px;
}

.to-recieve{
    color: white;
    width: 360px;
}
.text-area{
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    resize: none;
    overflow:hidden;
    margin-top: 20px;
}
.logo-footer{
   
    filter: brightness(0) invert(1);}


@media(max-width:680px){
    
    
    .communities-message{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 80px;
    
    }
    .mockup-image{
        width: 100%;
        margin: auto;
    }
}
